a {
    color: rgb(255, 255, 0);
}
h1 {
    text-align: center;
    font-size: 48px;
}
table {
    font-size: 20px;
    background-color: burlywood;
}
img {
    text-align: center;
    height: 155px;
}
body {
    font-size: 20px;
    align-content: center;
}

#Home {
    background-color: aquamarine;
}
#NES {
    background-color: cornflowerblue;
}
#SNES {
    background-color: darkorchid;
}
#GameCube {
    background-color: deeppink;
}
#Wii {
    background-color: lightcoral;
}
#Switch {
    background-color: lightskyblue;
}

#Homepg {
    color:firebrick;
}
.NESpg {
    color: hotpink;
}
.SNESpg {
    color:blue ;
}
.Cubepg {
    color: indigo;
}
.Wiipg {
    color: olive;
}
.Switchpg {
    color: violet;
}

ol {
    display: table; 
    margin:0 auto ;
}
#footer {
    text-align: center; 
    margin: auto;
}
.PD {
    height: 300px;
}
.pic {
    text-align: center;
}
nav {
    background-color: palevioletred;
}
